<!--
  Generated template for the AddTroncoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    
    <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>add-tronco</ion-title>
  
  </ion-navbar>

</ion-header>


<ion-content padding>

    <mat-accordion *ngIf="troncos">
        
        <!-- <ion-item style="cursor: pointer" *ngFor="let e of estacaos; index as i" > -->
        <mat-expansion-panel *ngFor="let tronco of troncos; index as i">

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{i+1}} - {{tronco}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <form>
      
              <ion-list>
      
                  <!-- <ion-input type="hidden" [value]="local_selected.id" formControlName="local_id" required></ion-input> -->
      
                  <ion-item>
                    <ion-label stacked>Lacre</ion-label>
                    <ion-input type="number"  id="tronco_lacre" required></ion-input>
                  </ion-item>
                
                  <ion-item>
                    <ion-label stacked>DAP</ion-label>
                    <ion-input type="number" id="tronco_dap" required></ion-input>
                  </ion-item>
      
                  <ion-item>
                    <ion-label stacked>Observação</ion-label>
                    <ion-textarea id="tronco_observacao" rows="3" ></ion-textarea>
                  </ion-item>
      
                  <ion-list radio-group>
      
                      <ion-list-header>
                          Condição:
                      </ion-list-header>
                    <ion-item>
                        <ion-label>Vivo</ion-label>
                        <ion-radio color="dark"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Morto</ion-label>
                        <ion-radio color="dark"></ion-radio>
                    </ion-item>
                  </ion-list>
      
                  <ion-buttons padding>
                    <button ion-button>Gravar</button>
                    <button ion-button type='reset'>Limpar</button>
                  </ion-buttons>
                
              </ion-list>
      
            </form>
      
      
        </mat-expansion-panel>

        
        
    </mat-accordion>
        

</ion-content>














































<mat-expansion-panel *ngIf="1>2" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
      
      
          <mat-expansion-panel-header>
            <mat-panel-title>
              TRONCO 2
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <form>
      
              <ion-list>
      
                  <!-- <ion-input type="hidden" [value]="local_selected.id" formControlName="local_id" required></ion-input> -->
      
                  <ion-item>
                    <ion-label stacked>Lacre</ion-label>
                    <ion-input type="number"  id="tronco_lacre" required></ion-input>
                  </ion-item>
                
                  <ion-item>
                    <ion-label stacked>DAP</ion-label>
                    <ion-input type="number" id="tronco_dap" required></ion-input>
                  </ion-item>
      
                  <ion-item>
                    <ion-label stacked>Observação</ion-label>
                    <ion-textarea id="tronco_observacao" rows="3" ></ion-textarea>
                  </ion-item>
      
                  <ion-list radio-group>
      
                      <ion-list-header>
                          Condição:
                      </ion-list-header>
                    <ion-item>
                        <ion-label>Vivo</ion-label>
                        <ion-radio color="dark"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Morto</ion-label>
                        <ion-radio color="dark"></ion-radio>
                    </ion-item>
                  </ion-list>
      
                  <ion-buttons padding>
                    <button ion-button>Gravar</button>
                    <button ion-button type='reset'>Limpar</button>
                  </ion-buttons>
                
              </ion-list>
      
            </form>
          
          
        </mat-expansion-panel>